<h1>Add a Doctor</h1>

<form  action="/doctors/new" method="post">
  <input type="text" name="new_doctor" placeholder = 'Name of new doctor'>
  <input type="text" name="specialty" placeholder = "Specialty">
  <button name="button">Add</button>

</form>
